@import "node_modules/material-ui/src/less/scaffolding.less";

//Define a custom less file to override
//any variables defined in scaffolding.less
//@import "my-custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";

@import "icomoon.less";

@import "animations.less";

.bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  &.main-btn {
    height: 60px;
    .mui-raised-button-container {
      height: 100%;
      .mui-raised-button-label {
        font-size: 1.6em;
      }
    }
  }
}

.income {
  color: @green-500;
}

.expense {
  color: @red-500;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.text-center {
  text-align: center;
}

.full-width {
  min-width: 100%;
}

.same-line {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.no-width {
  min-width: 0;
}

.block-flex {
  display: flex;
  flex-wrap: wrap;
}

nav {
  min-height: 50px;
  font-size: 30px;
  line-height: 50px;
  color: white;
  text-align: center;
  vertical-align: bottom;
  background: @blue-500;
  .back {
    left: 5px;
    position: absolute;
    text-align: left;
    top: 3px;
  }
  .settings {
    position: absolute;
    right: 10px;
    text-align: right;
    top: 3px;
  }
}

.settings-view {
  margin: 0 15px;
  .fields {
    label {
      min-width: 90px;
      display: inline-block;
      vertical-align: top;
    }
  }
}


.amount-detail {
  text-align: right;
  .amount-edit {
    margin-right: 30px;
    margin-left: 5px;  
    .mui-raised-button-container {
      height: 37px;
    }
  }
}

.calculator {
  .buttons {
    > div {
      width: 23%;
      margin-top: 1px;
      padding: 0 1px;

    }

    .mui-raised-button {
      height: 50px;

      .mui-raised-button-container {
        height: 100%;

        .mui-raised-button-label {
          font-size: 1.2em;
        }
      }

    }

    .mui-raised-button {
      min-width: 0;
    }
  }
}

.category {
  .cat-list {
    > div {
      height: 60px;
      flex: 1 33.33%;
    }

    .icomoon {
      padding-top: 5px;
    }
    
    .title {
      margin: 0 2px;
      overflow: hidden;
      color: white;
    }
  }
}

.Movement {
  margin: 0 10px;

  .list {
    margin-top: 10px;
    list-style: none;

    .move-item {
      border-bottom: 1px solid black;
      font-size: 1.2em;
      margin: 5px 0;
      overflow: hidden;
      position: relative;
      
      .arrow {
        margin: 0 8px;
      }
      
      .list-detail {
        list-style: none;
        margin: 5px;
        margin-left: 30px;

        li {
          margin: 5px 0;
          font-size: 0.7em;
          position: relative;

          .remove {
            font-size: 1em;
            margin-right: 4px;
          }
        }
      }

      .remove {
        margin-top: 6px;
        font-size: 1.5em;
      }

      .category {
        margin-right: 10px;
      }

      .amount { 
        position: absolute;
        top: 2px;
        right: 10px;
      }
      .detail-block {
        width: 80%;
        margin-left: 10px;
      

        .date {
          color: @grey-700;
          font-size: 0.7em;
        }
      }
    }

  }

}

.main {
  .mui-font-style-display-1 {
    padding-top: 0;
    margin: 5px 0 0 0;
  }

  .total-amount {
    height: 40px;
    margin-bottom: 2px;

    .mui-raised-button-container {
      height: 100%;
    }

    .mui-raised-button-label {
      font-size: 1.8em;
    }
  }

  .more-used {
    margin: 0 auto;
    min-height: 180px;
    width: 95%;

    li {
      display: inline-block;
      margin: 0px 10px;

      .mui-raised-button {
        max-width: 60px;
        min-width: 60px;
        color: white;

        .icomoon {
          padding-top: 5px;
        }
        .title {
          margin: 0 2px;
          overflow: hidden;
        }
      }      
    }
  }
  .actions > div{
    margin: 0 50px;
  }
}

.icomoon{
  color: white;
}
